{% extends "base.html.twig" %}

{% block title %}{{ user.firstname }} {{user.lastname}}{% endblock %}

{% block body %} 

<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">User Profil</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="{{path('app_main')}}">Accueil</a></li>
                            <li class="ec-breadcrumb-item active">Profil</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->

<!-- User profile section -->
<section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
    <div class="container">
        <div class="row">
            <!-- Sidebar Area Start -->
            <div class="ec-shop-leftside ec-vendor-sidebar col-lg-3 col-md-12">
                <div class="ec-sidebar-wrap">
                    <!-- Sidebar Category Block -->
                    <div class="ec-sidebar-block">
                        <div class="ec-vendor-block">
                            <!-- <div class="ec-vendor-block-bg"></div>
                            <div class="ec-vendor-block-detail">
                                
                                <h5>{{user.lastname}} {{user.firstname}}</h5>
                            </div> -->
                            <div class="ec-vendor-block-items">
                                <ul>
                                    <li><a href="#">{{user.firstname}} {{user.lastname}}</a></li>
                                    <li><a href="{{path('cart_index')}}">Panier</a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ec-shop-rightside col-lg-9 col-md-12">
                <div class="ec-vendor-dashboard-card ec-vendor-setting-card">
                    <div class="ec-vendor-card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ec-vendor-block-profile">
                                    <div class="ec-vendor-block-img space-bottom-30">
                                        <div class="ec-vendor-block-bg">
                                            <a href="#" >
                                               </a>
                                        </div>
                                        <div class="ec-vendor-block-detail">
                                            
                                            <h5 class="name">{{user.lastname}} {{user.firstname}} </h5>
                                            <p> {% if user.roles == 'ROLE_ADMIN' %} Administrateur {% endif %} </p>
                                        </div>
                                        <p>Hello <span>{{user.lastname}} {{user.firstname}} </span></p>
                                        <p>From your account you can easily view and track orders. You can manage and change your account information like address, contact information and history of orders.</p>
                                    </div>
                                    <h5>Informations</h5>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-email space-bottom-30">
                                                <h6>E-mail  <a href="javasript:void(0)" data-link-action="editmodal" title="Edit Detail" data-bs-toggle="modal" data-bs-target="#edit_modal"><img src="{{asset('assets/images/icons/edit.svg')}}"
                                                    class="svg_img pro_svg" alt="edit" /></a></h6>
                                                <ul>
                                                    <li><strong>Email : </strong>{{ user.email }}</li>
                                                
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-contact space-bottom-30">
                                                <h6>VILLE<a href="javasript:void(0)" data-link-action="editmodal" title="Edit Detail" data-bs-toggle="modal" data-bs-target="#edit_modal"><img src="{{asset('assets/images/icons/edit.svg')}}"
                                                    class="svg_img pro_svg" alt="edit" /></a></h6>
                                                <ul>
                                                    <li><strong>CITY: </strong>{{user.city}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-address mar-b-30">
                                                <h6>Addresse<a href="javasript:void(0)" data-link-action="editmodal" title="Edit Detail" data-bs-toggle="modal" data-bs-target="#edit_modal"><img src="{{asset('assets/images/icons/edit.svg')}}"
                                                    class="svg_img pro_svg" alt="edit" /></a></h6>
                                                <ul>
                                                    <li><strong>Home : </strong>{{user.address}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-address">
                                                <h6>ZIPCODE<a href="javasript:void(0)" data-link-action="editmodal" title="Edit Detail" data-bs-toggle="modal" data-bs-target="#edit_modal"><img src="{{asset('assets/images/icons/edit.svg')}}"
                                                    class="svg_img pro_svg" alt="edit" /></a></h6>
                                                <ul>
                                                    <li>{{user.zipcode}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
